.spacing{
  padding-top:175px;
  padding-left:90px
}
.profile_image{
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0px;
}
.desktop_profile{
  height:140px; width:140px;
}
@media screen and (min-width: 481px) and (max-width: 900px){
  .desktop_profile{
    height: 100px;
    width: 100px;
  }
}
.caption {
    display: block;
    width: 30%;
}
.btn{
width:220px;
font-size: 20px;
background-color: #755139FF;
}
@media screen and (max-width: 480px) {
  .btn{
    width:120px;
    font-size: 10px;
    background-color: #755139FF;
  }
}
.btn {
  display: inline-block;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.7s;
}

.btn span:after {
  content: 00bb;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.7s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.reduce_spacing{
  padding-top:1px;
  padding-bottom:5px;
}
.form-group {
background-color:  #F2EDD7FF ;
}
.bg { 
  /* The image used */
  background-image: url("assets/images/farmer1.jpg");
  /*background-color: lightsteelblue;
  background-repeat: repeat;*/

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}
.left_gap{
  padding-left: 10px;
}
.navbar-nav { 
   margin-left: auto; 
} 
.heading{
  font-family: 'Do Hyeon', sans-serif;
  
}

.item img {
    height: 450px !important;
    width: 850px !important;
}

.carousel-item {
 height: 500px;
    text-align: center;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media screen and (max-width: 480px) {
  body{ 
    background: url('assets/images/bg4.jpg') repeat center center fixed; 
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  body{
    background: url('assets/images/bg4.jpg') repeat center center fixed; 
  }
}
@media screen and (min-width: 901px) {
  body{
    background: url('assets/images/bg3.jpg') repeat center center fixed; 
  }
}
 body{ 
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;  
}
